numpy
pandas
sklearn
numpy==1.24.1
pandas==1.5.3
seaborn==0.12.2
sklearn==0.0.post2
pymongo==4.3.3
fastapi==0.89.1
notebook==6.5.2
notebook_shim==0.2.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
ipykernel==6.20.2
PyYAML==6.0
notebook==6.5.2
notebook_shim==0.2.2
dill==0.3.6
uvicorn==0.20.0
TTS